[submodule "vendor/github.com/ogier/pflag"]
	path = vendor/github.com/ogier/pflag
	url = https://github.com/ogier/pflag/
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
